body {
    background: #F4D8DF;
    font-family: 'Nunito', sans-serif;
}

.row {
    margin: 0px;
}

.content {
    margin: 50px 0px 0px;
}

.contentText h2 {
    color: #E7002E;
    font-weight: 100;
    font-size: 2.5rem;
}

.contentText p {
    color: #8F6382;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2;
    margin-bottom: 50px;
}

#mainNavbar {
    font-weight: 100;
    font-size: 1.5rem;
}

#mainNavbar .navbar-brand {
    color: #E7002E;
    font-weight: 100;
    font-size: 1.5rem;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #E7002E;
}

.navbar.scrolled {
    background: #F294B8;
    transition: background 500ms;
}

#headingGroup span {
    color: #F294B8;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 3.5rem;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
}
}